<h1>Hello Universe and World</h1>
<p>My host name is <%= node['hostname'] %></p>
<p>I am <%= node['current_user'] %></p>
<p>I am <%= node['apache']['foo'] %></p>
<p>I am <%= node['apache']['greeting'] %></p>

